@import "../../styles/responsive.scss";
.totalAssetsWorth {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;

  .totalCoinText {
    @include md {
      font-size: 16px;
    }
  }
  .balance {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    flex-direction: column;
    h2 {
      @include md {
        font-size: 32px;
      }
    }
  }
  h6 {
    font-size: 16px;
    @include md {
      font-size: 12px;
    }
  }
  .balanceDetails {
    display: flex;
    justify-content: space-between;
  }
}
