@import "../../styles//global.scss";
@import "../../styles//responsive.scss";
.menu {
  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
    .listItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 10px;
      .icon {
        filter: grayscale(100%) sepia(100%) saturate(200%) hue-rotate(180deg);

        .light-mode & {
          filter: grayscale(100%) sepia(100%) saturate(200%) hue-rotate(180deg)
            invert(1);
        }
      }
      &:hover {
        background-color: $soft-bg;
        border-radius: 5px;
      }
      .light-mode & {
        &:hover {
          background-color: $soft-color;
        }
      }

      .listItemTitle {
        @include lg {
          display: none;
        }
      }
    }
    .title {
      font-size: 12px;
      font-weight: 200;
      color: $soft-color;
      text-transform: uppercase;
      .light-mode & {
        color: $soft-bg;
      }
      @include lg {
        display: none;
      }
    }
  }
}
