@import "../../styles/variables.scss";
.footer {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 2px solid $soft-bg;
  .light-mode & {
    border-top: 2px solid $soft-color;
  }

  width: 100%;
  margin-top: 20px;

  min-height: 40px;
  a {
    color: $purple;
  }
}
