@import "./variables.scss";
@import "./responsive.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $main-bg;
  color: $main-color;
  transition: background-color 0.3s, color 0.3s;

  &.light-mode {
    background-color: #fefefe;
    color: $dark-bg;

    .home {
      .box {
        border: 2px solid #ddd;
      }
    }

    .menuContainer {
      border-right: 2px solid #ddd;
    }
  }

  &.dark-mode {
    background-color: $main-bg;
    color: $main-color;

    .home {
      .box {
        border: 2px solid $soft-bg;
      }
    }
  }
}

.container {
  display: flex;
  flex: 1;
}

.menuContainer {
  width: 250px;
  height: 100%;
  padding: 5px 20px;
  border-right: 2px solid $soft-bg;
  @include lg {
    width: max-content;
  }
  @include md {
    display: none;
  }
}

.contentContainer {
  flex: 1;
  padding: 5px 20px;
  overflow: hidden;
}

.positiveCell {
  color: rgb(20, 214, 188);
}

.negativeCell {
  color: rgb(241, 16, 16);
}
