@import "../../styles/responsive.scss";
@import "../../styles/global.scss";
@import "../../styles/variables.scss";
.topBox {
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    a {
      font-size: 14px;
      color: $soft-color;
      .light-mode & {
        color: $dark-bg;
      }
    }
  }
  h2 {
    @include md {
      font-size: 16px;
    }
  }
  .list {
    .listItem {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      padding: 8px;
      &:hover {
        background-color: $soft-bg;
        border-radius: 5px;
      }
      .light-mode & {
        &:hover {
          background-color: $soft-color;
        }
      }
      .coin {
        display: flex;
        width: 50%;
        gap: 20px;
        img {
          width: 40px;
          height: 40px;
          object-fit: cover;
          border-radius: 50%;
          @include xxl {
            display: none;
          }
          @include lg {
            display: block;
          }
        }
        .coinTexts {
          max-width: 100%;
          word-wrap: break-word;
          text-overflow: ellipsis;
          display: flex;
          flex-direction: column;
          gap: 5px;

          .coinName {
            font-size: 14px;
            font-weight: 500;
          }
          .price {
            font-size: 12px;
            @include xxl {
              display: none;
            }
            @include lg {
              display: block;
            }
          }
        }
      }
      .market {
        font-weight: 500;
        font-size: 12px;

        &.positive {
          color: rgb(19, 209, 200);
        }

        &.negative {
          color: rgb(233, 13, 13);
        }

        @include sm {
          display: none;
        }
      }
      button {
        width: fit-content;
        padding: 8px 10px;
        background-color: $purple;
        color: $soft-color;
        cursor: pointer;
        outline: none;
        border: none;
        &:hover {
          background-color: #6663a7;
        }
      }
    }
  }
}
